 <!doctype html>
<html>
	<head>
	<meta charset="utf-8">
	<title>altrlz</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
	</head>
	
	<body>
        <div id="app">
        <v-app>
            <v-container>
              <v-tabs
                  fixed-tabs
                  centered
                  icons-and-text
                >
                  <v-tabs-slider></v-tabs-slider>
                  <v-tab to="/">
                    Top
                    <v-icon>home</v-icon>
                  </v-tab>

                  <v-tab to="/profile">
                    Profile
                    <v-icon>face</v-icon>
                  </v-tab>

                  <v-tab to="/outputs">
                    Outputs
                    <v-icon>important_devices</v-icon>
                  </v-tab>
                </v-tabs>

                <v-card>
                    <router-view></router-view>
                </v-card>
                
                <v-footer height="auto">
                    <v-layout justify-center>
                        <v-flex text-xs-center py-3>
                        &copy;2019 - <strong>altrlz</strong>
                        </v-flex>
                    </v-layout>
                </v-footer>
            </v-container>
        </v-app>
        </div>
        
        <script type="x-template" id="profile">
            <v-card>
                <v-list>
                    <v-subheader>
                    Profile
                    </v-subheader>
                        <v-list-tile>
                            <v-list-tile-content>
                                <v-list-tile-title>Name</v-list-tile-title>
                                <v-list-tile-sub-title>altrlz</v-list-tile-sub-title>
                            </v-list-tile-content>
                        </v-list-tile>

                        <v-divider></v-divider>

                        <v-list-tile>
                            <v-list-tile-content>
                                <v-list-tile-title>Name</v-list-tile-title>
                                <v-list-tile-sub-title>altrlz</v-list-tile-sub-title>
                            </v-list-tile-content>
                        </v-list-tile>


                </v-list>
            </v-card>
        </script>
        
        
        <script  type="x-template" id="homepage">
            <v-card>
              <v-img
                class="white--text"
                height="400px"
                src="images/top.jpg"
                style="opacity: 0.7;"
              >
                <v-container fill-height fluid>
                  <v-layout fill-height>
                    <v-flex xs12 align-end flexbox>
                      <span class="display-1 font-weight-light font-italic">Realize of the 31st year</span>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-img>
              <v-card-title>
                <div style="height:200px;">
                  <span class="grey--text">Current feelings</span><br>
                  <span>人生のラストチャンスとおもってやる</span>
                </div>
              </v-card-title>
            </v-card>
        </script>
        
        <script type="x-template" id="output-list">
        <v-card>
            <div v-if="loading" class="text-xs-center">
                <v-progress-circular indeterminate style="margin-top:10rem;">
                </v-progress-circular>
            </div>
            <div v-if="error">
                {{ error }}
            </div>
            <!-- ロードされたら表示 -->
            <div v-for="output in outputs">
                <h2> {{ output.name }} </h2>
            </div>
        </v-card>
        </script>

        
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
        <script src="js/mypage.js"></script>
    </body>
	
</html>